Repository ddionrails/transformations_cleaner: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pyroma, mypy, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint
        name: run pylint
        entry: pylint --rcfile=setup.cfg
        language: system
        files: ".*.py"
        pass_filenames: true
      - id: pyroma
        name: check setup.py
        entry: pyroma .
        language: system
        files: "setup.py"
        pass_filenames: true
      - id: mypy
        name: Check typing
        entry: mypy
        args: ["--ignore-missing-imports", "--strict"]
        language: system
        files: ".*.py"
        pass_filenames: true
      - id: isort
        name: Sort imports
        entry: isort
        language: system
        files: ".*.py"
        pass_filenames: true
      - id: black
        name: Format
        entry: black
        language: system
        files: ".*.py"
        pass_filenames: true

Remove some lint
  .pre-commit-config.yaml
  tests/test_transformations_cleaner.py
  transformations_cleaner/transformations_cleaner.py
Due: pylint, mypy, isort, black

Fix travis setup
  .pre-commit-config.yaml
  .travis.yml
Due: none

Add pylint config
  setup.cfg
Due: none

Change pytest config
  setup.cfg
Due: none

Add basic cli setup
  setup.py
  tests/test_transformations_cleaner.py
  transformations_cleaner/__main__.py
Due: pylint, pyroma, mypy, isort, black

Fix requirements
  Pipfile
  Pipfile.lock
Due: none

Fix pytest-cov debugger issue
  .pre-commit-config.yaml
  .travis.yml
  setup.cfg
Due: none

Increase verbosity for travis tests
  .travis.yml
Due: none

Add function to filter relational graph
  tests/test_transformations_cleaner.py
  transformations_cleaner/transformations_cleaner.py
Due: pylint, mypy, isort, black
